footer {
    line-height: 2.5em;
    padding: 3rem 0
}

footer h4 {
    font-size: 18px
}

footer,
footer a,
footer h4 {
    color: #fff
}

.social-links ul {
    list-style-type: none
}

#footer {
    background-color: #30598c
}